$color-secondary: #f1f1f1;
$color-danger: #B71E21;
$color-success: #48B02C;
$color-primary: #0E8FD8;

.dataRepository {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.sectionHeadings {
  margin: 1vh;
  align-self: center;
}
.managementControls {
  height: 10vh;
  margin: 2.5vh 5vw 0 5vw;
  border: 1px solid black;
  flex-direction: row;
  width: inherit;
  justify-content: flex-end;
  background-color: $color-secondary;
}
.addMoreButton {
  width: 10vw;
  margin: auto 0.75rem ;
  background-color: $color-success;
  border: 2px solid $color-success;
}
.addMoreButton:hover {
  background-color: $color-secondary;
  color: $color-success;
}
.deleteSelectedButton {
  width: 10vw;
  margin: auto 0.75rem ;
  background-color: $color-danger;
  border: 2px solid $color-danger;
}
.deleteSelectedButton:hover {
  background-color: $color-secondary;
  color: $color-danger;
}

.detectChangeButton {
  width: 12.5vw;
  margin: auto 0.75rem ;
  background-color: $color-primary;
  border: 2px solid $color-primary;
}
.detectChangeButton:hover {
  background-color: $color-secondary;
  color: $color-primary;
}

.dataSectionHeader {
  display: grid;
  grid-template-columns: 5fr 5fr 30fr 30fr 30fr;
  align-content: center;
  justify-items: center;
  width: inherit;
  border: 1px solid black;
  border-top: none;
  margin: 0 5vw;
  height: 2.5rem;
}
.dataSection {
  display: grid;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5fr 5fr 30fr 30fr 30fr;
  row-gap: 1rem;
  width: inherit;
  border: 1px solid black;
  border-top: none;
  margin: 0 5vw;
  height: auto;
  background-color: #f5f5f5;
}

.fileChooser {
  border: none;
  display: inherit;
}

input[type="file"] {
  display: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  padding: 10px;
  outline: none;
}

.fileChooserLabel {
  display: inherit;
  justify-content: center;
  align-content: center;
  margin: auto 0.75rem;
  background-color: $color-success;
  border: 2px solid $color-success;
  width: 10vw;
  height: 2.5rem;
  border-radius: 2.5rem;
  transition-duration: 0.1s;

  p {
    align-self: center;
    font-weight: bold;
    color: $color-secondary;
  }
}

.fileChooserLabel:hover {
  background-color: $color-secondary;
  cursor: pointer;
  p {
    color: $color-success;
  }
}

@media only screen and (max-width: 1200px) {
  .detectChangeButton {
    height: auto;
  }
}